/* Custom navbar styling */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Light mode */
:root {
  --navbar-bg: white;
  --navbar-fg: black;
  --brand-color: #15b8a6;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Apply custom colors to navbar */
.navbar {
  background-color: var(--navbar-bg);
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.3); 
}

.navbar-brand {
  font-weight: bold;
  color: var(--navbar-fg) !important;
}

.nav-link,
.menu-text {
  color: var(--navbar-fg);
}

.menu-text:hover {
  color: var(--brand-color);
  transition: color 0.15s ease-in-out;
}

/* Center navbar items */
.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}





